<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <!-- Font Awesome -->
{#    <link rel="stylesheet" href="/admin/build/scss/pages/_login_and_register.scss">#}
    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">


    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% endblock %}
</head>
<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class=" login-page" style="background-color:#e5ecef ">
    <div class="login-box">
        <div class="login-logo">
            <img src="/admin/dist/img/promobit-logo.png" width="180" height="100" alt="AdminLTE Logo" >
        </div>
        <br>

        <!-- /.login-logo -->
        <div class="login-box-body" >
            {% if error %}
                <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="email" name="_username" value="{{ last_username }}" >
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Senha" name="_password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="col-xs-4">
                    <button type="submit" class="btn-primary btn-block btn-flat" >Sign In</button>
                </div>

            </form>

        </div>


<!-- /.login-box -->{% block javascripts %}
<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
        <script>
            $('._username').mask('000.000.000-00', {reverse: true});

        </script>
{% endblock %}
</body>

</html>


