{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Tags</h1>
            </div>
            <hr>
        </div>

        <div class="col-12">
            <table class="table">
                <thead>

                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Produtos</th>
                </tr>

                </thead>
                <tbody>
                {% for tag in tags  %}
                    <tr>
                        <td>{{ tag.id }}</td>
                        <td>{{ tag.name }}</td>
                        <td>
                            {% for product in tag.products %}
                            {{ product }}
                                <br>
                            {% endfor %}
                            <strong>Total: {{ tag.products | length }}</strong>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}